body {
    /*overflow-x: hidden;*/
    overflow: hidden;
}

td {
    overflow: hidden;
}

tbody tr {
    cursor: pointer;
}

img.detail {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

img.old {
    opacity: 0.3;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

img.thumb {
    cursor: pointer;
    filter: brightness(100%);
    border: 1px solid transparent;
}

img.thumb:hover {
    filter: brightness(110%);
    border: 1px solid gray;
}

div.border-thin {
    border: 1px solid rgb(170, 170, 170);
}

div.attached {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(170, 170, 170);
}

div.detached {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(170, 170, 170);
}

a.disabled {
    cursor: default;
    opacity: 0.5;
    color: gray;
}

a.selected {
    cursor: default;
    color: black;
}

#divProgressBar {
    width: 100%;
    background-color: lightgrey;
}

#divProgress {
    width: 0%;
    height: 3px;
    background-color: darkgreen;
}