body {
    /*overflow-x: hidden;*/
    /*overflow: hidden;*/
}

td {
    overflow: hidden;
}

tbody tr {
    cursor: pointer;
}

div.header {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid darkorange;
}

label.header {
    font: bold 18pt/normal Arial;
    color: darkorange;
    font-size-adjust: none;
    font-stretch: normal;
    padding-left: 50px;
}

img.detail {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
img.old {
    opacity: 0.3;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: wait;
}

img.thumb {
    cursor: pointer;
    filter: brightness(100%);
    border: 1px solid transparent;
}
img.thumb:hover {
    filter: brightness(110%);
    border: 1px solid gray;
}

div.border-thin {
    border: 1px solid rgb(170, 170, 170);
}

div.attached {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(170, 170, 170);
}
div.detached {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(170, 170, 170);
}

div.draggable {
    cursor: move;
}

.sides {
    padding-left: 15px;
    padding-right: 15px;
}

.tops {
    padding-top: 15px;
    padding-bottom: 15px;
}

span.link.selected {
    color: darkorange;
    cursor: default;
}
span.link.disabled {
    color: darkgray;
    cursor: default;
}
span.link:not(.disabled):not(.selected) {
    color: royalblue;
    cursor: pointer;
}
span.link:hover:not(.disabled):not(.selected) {
    color: darkorange;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
span.link:active:not(.disabled):not(.selected) {
    opacity: 0.3;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

#divProgressBar {
    width: 100%;
    background-color: lightgrey;
}

#divProgress {
    width: 0%;
    height: 3px;
    background-color: darkgreen;
}
